SITE_URL=https://infinity-corebots.vercel.app
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_REDIRECT_URI=https://infinity-corebots.vercel.app/api/discord-callback
DISCORD_WEBHOOK_URL=
SESSION_SECRET=
